{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}


<div class="content">
    <div class="metaphore">
        <div class="metaphore-block">
            <div class="metaphore-gimmai-l">
                <img src="{{asset('img/quotes.svg')}}" alt="">
            </div>

            <div class="metaphore-txt">
                <div class="linet">
                    <div class="linet-top">

                    </div>
                </div>
                <p class="metaphore-txt-p">
                    L’ostéopathie est une science, un art et une philosophie. A.T. Still
                </p>
                <div class="lineb">
                    <div class="lineb-bottom">

                    </div>
                </div>
            </div>
            <div class="metaphore-gimmai-r">
                <img src="{{asset('img/quotes.svg')}}" alt="">
            </div>
        </div>
    </div>
</div>



<div class="container">

    <div class="row ustify-content-center">
        <div class="col-xl-6 col-md-6 col-sm-12 conteiner-content">
            <div class="img-1">
                <img class="" src="{{asset('img/index-img-1.jpg')}}" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12 ">
            <div class="txt">
                <h1>
                    À propos de moi
                </h1>
                <p>
                    Passionnée par les animaux et cavalière depuis mon plus jeune âge, j’ai toujours été proche de
                    la
                    nature et soucieuse du bien-être animal, désireuse de les comprendre et de les accompagner vers
                    ce
                    bien-être en y alliant la performance.
                </p><br>
                <p>
                    J’ai donc intégré et étais diplômée de l’Ecole Supérieure d’Ostéopathie Animale de Biopraxia
                    après
                    un cursus de cinq années. J’ai par la suite validé mes compétences auprès du Conseil National de
                    l’Ordre des Vétérinaires et je suis donc inscrite sur le Registre National d’Aptitude sous le
                    numéro
                    OA 1167
                </p><br>
                <p>J’interviens sur toutes les espèce que vous soyez particulier ou professionnel, dans les
                    Hauts-de-France (principalement Nord-Pas-de-Calais) avec la possibilité d’élargir mon périmètre
                    d’activité. J’interviens également en Belgique frontalière.</p>
            </div>
        </div>
    </div>


    <div class="row ustify-content-center">
        <div class="col-xl-6 col-md-6 col-sm-12  conteiner-content">
            <div class="txt-part2">
                <p>
                    Je suis formée aux techniques structurelles, tissulaires, crâniennes, viscérales et énergétiques
                    et je continue de me former chaque année à diverses méthodes pour accompagner au mieux vos
                    animaux. De plus, je travaille en collaboration avec différents professionnels de santé animale
                    (technicien dentaire, masseur, vétérinaire, podologue, maréchal-ferrant, naturopathe,
                    comportementaliste, communication animale, …) pour répondre au mieux à vos besoins.
                </p>
                <br>
                <p>
                    Mon engagement professionnel se traduit également par mon implication au sein de plusieurs
                    associations telles que l’IPOAM ou l’UFEOA.
                </p><br>
                <p>En attendant de pouvoir nous rencontrer et échanger, n’hésitez pas à parcourir les différents
                    onglets pour en apprendre un peu plus sur moi et sur l’ostéopathie. Vous pouvez également me
                    contacter pour toute demande d’information.</p><br>
                <p>Ostéopathiquement,<br>Mina 👐</p>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 col-sm-12 ">
            <div class="img-2">
                <img src="{{asset('img/index-img-2.jpg')}}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="footer">
</div>





{% endblock %}